
#head {
	font-size: 35px;
	text-align: center;
	text-decoration: none;
	margin: 10px;
	padding: 15px;
}

a:hover {
	background: rgba(0,255,255,0.5);
}

#head li {
	display: inline;
	margin: 20px;
	padding: 10px;
}

.column2of3, .column1of3, .column3of3 {
	text-indent: 20px;
	width: 400px;
	float: left;
	margin: 1%;
	height: 250px;
}

.column1of3 ol{
	line-height: 1.4em;
	width: 250px;
	text-indent: 0px;
	text-decoration: none;
}
