{% extends "base.html" %}

{% block body%}
	<h1>Index Page</h1>
	<div>
	<form action="/word/search" method="get">
		<input type="text" name="search_word" required="required" placeholder="Please Enter a Word" /><br />
		<input type="submit" name="submit" values="Search" />
	</form>
	</div>

	<div>
	<form action="../updatetext" method="post">
	{% for text in texts %} 
		<p>{{text.book.name.title}}</p>
		<p>{{text.book.author}}</p>
		<p>{{text.unit.unit.capitalize }}</p>
		<p>{{text.unit.text_title.title }}</p>
		<p>{{text.unit.text_author}}</p>
		<p>{{text.para}} <a href="../updatetext/{{text.id}}">编辑</a></p>
		<p>{{text.para_text}}</p>
		<p>{{text.para_translation}}</p>
		<p>{{text.add_time}}</p>
		<hr>
	{% endfor %}
	</form>
	</div>

{% endblock %}
